<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="PricingServiceHost.PricingServiceBehavior">
                    <serviceMetadata />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <services>
        <service behaviorConfiguration="PricingServiceHost.PricingServiceBehavior"
                 name="PricingServiceHost.PricingService">
          <endpoint address="" 
                    binding="netTcpBinding" 
                    bindingConfiguration="customBinding"
                    contract="PricingServiceHost.IPricingService" />
          <endpoint address="mex" 
                    binding="mexTcpBinding" 
                    contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:4504/PricingService" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <bindings>
        <netTcpBinding>
          <binding name="customBinding">
            <security mode="None"/>
          </binding>
        </netTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
